body{
background-color: white;
font-family: 'Delius', cursive;
text-align: left;
}

<link href="css/estilos.css" rel="stylesheet">

<title> {
  #9ccc65;
  text-align: center;
  font-style:italic;
}
<h3>{
  text-decoration: underline;
}
<p>{
  font-size: 14px;
	line-height: 26px;
text-align: justify;
}
background-image: url(../images/fondo.jpg);


<header> "First Header" </header>

<section> "Platos fuertes" </section>


<article> First ARTICLE   </article>
<footer> Füß </footer>
